@font-face {
    font-family: "ColfaxAI";
    src: url(./ColfaxAIRegular.woff2) format("woff2");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: "ColfaxAI";
    src: url(./ColfaxAIBold.woff2) format("woff2");
    font-weight: bold;
    font-style: normal
}

@font-face {
    font-family: "Charter";
    src: url(./Charter-Regular.woff2) format("woff2");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: "Charter";
    src: url(./Charter-Bold.woff2) format("woff2");
    font-weight: bold;
    font-style: normal
}

@font-face {
    font-family: "IconsAI";
    src: url(./IconsAI.woff2) format("woff2");
    font-weight: normal;
    font-style: normal
}